
{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Homes for you -->
	<div class="container c-section ">
	<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">{{entry.title}}</h2>
		<p class="c-section__subtitle">{{entry.subtext}}</p>

		<div class="row g-4 justify-content-center c-section__content">
			<!-- category card -->
			<div  class="col-12 col-sm-6 col-lg-4 c-categories__card">
			<!-- todo: laad de titel en image in via de entry -->
					<div class="c-categories__info">
						<h3 class="c-categories__title">{{entry.title}}</h3>
						<p class="">10 properties</p>
					</div>
					<div class="c-categories__imgcontainer">
						<img src="{{entry.cover.one().url}}" alt="" class="c-categories__img c-categories__img--page">
					</div>
				</div>

			<!-- todo: roep alle entries van de section 'houses' op die 'relatedTo' de entry zijn. Loop over deze entries en vul de immo-cards dynamisch in (zie templates/index.twig hiervoor) -->
			<!-- immo card -->
			
			{% set relatedHouses = craft.entries()
				.section('house')
				.relatedTo(entry)
				.all() %}

			{% for house in relatedHouses %}
				<div
						class="col-12 col-sm-6 col-lg-4 ">
						<!-- todo: link de card met de detail page  -->
						<a href="{{url(house.uri)}}" class="c-immo-card">
							<div class="c-immo-card__imgcontainer">
								<img
								src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
								<!-- todo: Zorg dat de kleur veranderd dmv c-immo-card__tag--rent toe te passen wanneer iets for rent staat  -->
								<div class="c-immo-card__tag {% if house.state == 'rent' %}c-immo-card__tag--rent{% else %}c-immo-card__tag--sale{% endif %}">
									<p>For {{house.state}}</p>
								</div>

							</div>
							<div class="c-immo-card__infocontainer">
								<div class="c-immo-card__heading">
									<h3 class="c-immo-card__title">{{house.title}}</h3>
									<!-- todo: roep hier het amount op -->
									<p class="c-immo-card__price">{{ house.price|money }}</p>
								</div>
								<div class="c-immo-card__location">
									<img src="{{url('img/icons/location.svg')}}" alt="">
									<p>
										{{house.location}} {{house.city.one().title}}
									</p>

								</div>

								<!-- todo: loop hier over de waarder van de details van het pand -->
								<div class="c-immo-card__details">
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bed.svg')}}" alt="">
										<p>
										{% for house in house.details %}
											{{house.bedrooms}} beds

											{% endfor %}
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bath.svg')}}" alt="">
										<p>{% for house in house.details %}
											{{house.bathrooms}} beds

											{% endfor %} baths
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/sqf.svg')}}" alt="">
										<p>{% for house in house.details %}
											{{house.size}} beds

											{% endfor %} m²
										</p>
									</div>
								</div>

							</div>
						</a>
					</div>
			{% endfor %}
			<!-- immo card -->

	</div>

	<!-- locations -->
	<div class="container c-section">
		<!-- todo: Roep All locations op en pas de title en subtitle aan.  -->
		{% set allLocations = craft.entries.section('locations').level(1).one() %}
			<h2 class="c-section__title">{{ allLocations.title}}</h2>
			<p class="c-section__subtitle">{{ allLocations.subtext }}</p>
			{# <h2 class="c-section__title">All Locations</h2>
			<p class="c-section__subtitle">Where do you want to live?</p> #}

			<div class="row justify-content-center c-section__content c-locations text-center">
				<!-- Roep alle children van All Locations op en loop ze over de lijst. Dit zijn de titels per kolom. Roep dan hiervan ook nog eens de children van op en laat deze de lijst vullen. -->
				{% set region = allLocations.children.all() %}
				
				{% for regio in region %}
					<div class="col-12 col-sm-3 col-lg-2">
						<ul class="c-locations__list">
							<h3>{{regio.title}}</h3>
							{% set cities = regio.children.all() %}
							{% for citie in cities %}
							<li class=" c-locations__list-item pb-2">
								<a class="c-locations__link " href="{{citie.url}}">
									{{ citie.title }} 
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
					</ul>
				</div>
				

			</div>

	
{% endblock %}